<!--*******************
        Preloader start
    ********************-->
<!-- <div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
    </div>
</div> -->
<!--*******************
      Preloader end
  ********************-->
<div class="login-form-bg h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center">
                <h4>Saiko</h4>
              </a>

              <form [formGroup]="frmReset" (ngSubmit)="Reset(frmReset.value)" class="mt-5 mb-5 login-input">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="txt_newPassword"
                    id="newPassword" ngModel>
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                    <div *ngIf="newPassword.errors?.['required']" style="color:red ;">Mật khẩu là bắt buộc</div>
                    <div *ngIf="newPassword.errors?.['password']" style="color:red ;"> Độ dài mật khẩu tối thiểu phải là
                      8 ký tự và phải chứa ký tự đặc biệt @#!$%&*.</div>
                  </div>

                </div>
                <div class="form-group">
                  <input formControlName="txt_repassword" type="password" class="form-control"
                    placeholder="Nhập lại mật khẩu" id="repassword" ngModel>
                  <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)">
                    <div *ngIf="repassword.errors?.['required']" style="color:red ;">Xác nhận lại mật khẩu là bắt buộc
                    </div>
                    <div *ngIf="repassword.errors?.['matching']" style="color:red ;">Xác thực lại mật khẩu không đúng
                    </div>
                  </div>
                </div>
                <button class="btn login-form__btn submit w-100" [disabled]="frmReset.invalid"
                  type="submit">Reset</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>