<div class="login-form-bg h-100 mt-5">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="error-content">
          <div class="card mb-0">
            <div *ngIf="loading" class="card-body text-center pt-5">
              <h1 class="error-text text-primary">Loading</h1>
              <h4 class="mt-4"><i class="fa fa-spinner"></i> Loading</h4>
              <p>Đang xác minh email...</p>
              <form class="mt-5 mb-5">

                <div class="text-center mb-4 mt-4"><a [routerLink]="['/']" class="btn btn-primary">Go to Login</a>
                </div>
              </form>
              <div class="text-center">

                <ul class="list-inline">
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-facebook"><i
                        class="fa fa-facebook"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-twitter"><i
                        class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-linkedin"><i
                        class="fa fa-linkedin"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-google-plus"><i
                        class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="error" class="card-body text-center pt-5">
              <h1 class="error-text text-danger">Error</h1>
              <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> Bad Request</h4>
              <p>Lỗi trong quá trình xác minh. Hoặc Email đã được xác minh trước đó.</p>
              <form class="mt-5 mb-5">

                <div class="text-center mb-4 mt-4"><a [routerLink]="['/']" class="btn btn-primary">Go to Login</a>
                </div>
              </form>
              <div class="text-center">

                <ul class="list-inline">
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-facebook"><i
                        class="fa fa-facebook"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-twitter"><i
                        class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-linkedin"><i
                        class="fa fa-linkedin"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-google-plus"><i
                        class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="success" class="card-body text-center pt-5">
              <h1 class="error-text text-success">Success</h1>
              <h4 class="mt-4"><i class="fa fa-thumbs-up text-success"></i> Good Request</h4>
              <p>Xác minh email thành công!</p>
              <form class="mt-5 mb-5">

                <div class="text-center mb-4 mt-4"><a [routerLink]="['/']" class="btn btn-primary">Go to Login</a>
                </div>
              </form>
              <div class="text-center">

                <ul class="list-inline">
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-facebook"><i
                        class="fa fa-facebook"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-twitter"><i
                        class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-linkedin"><i
                        class="fa fa-linkedin"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="javascript:void()" class="btn btn-google-plus"><i
                        class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>