<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <div class="alert alert-success">
        Xin chào {{user.hoTen}}! Chào mừng bạn đã đến với Website của Công ty TNHH Phần mềm Saiko.
    </div>
    <div class="container-fluid mt-3" style="min-height: 570px;">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Nhân viên</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{tongNv}}</h2>
                            <p class="text-white mb-0">{{today}}</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Phòng ban</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{tongPb}}</h2>
                            <p class="text-white mb-0">{{today}}</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-window-maximize"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Đang làm việc</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{dlv}}</h2>
                            <p class="text-white mb-0">{{today}}</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Đã nghỉ việc</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{dnv}}</h2>
                            <p class="text-white mb-0">{{today}}</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-stop-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- #/ container -->
</div>
<!--**********************************
          Content body end
      ***********************************-->